In [3]:
import session13 
from importlib import reload
reload(session13)

In [4]:
car_tickets = session13.VehicleGen('nyc_parking_tickets_extract-1.csv')

As the `VehicleGen` class contains an `__iter__` method that returns a generator method at every call, we do not need to re-instantiate the `car_tickets` class once the generator is exhaused.

In [5]:
tickets_gen = (ticket for ticket in car_tickets)
print(next(tickets_gen))

CarTicket(summons_number=4006478550, plate_id='VAD7274', registration_state='VA', plate_type='PAS', issue_date=datetime.date(2016, 10, 5), violation_code=5, vehicle_body_type='4D', vehicle_make='BMW', violation_description='BUS LANE VIOLATION')

In [6]:
for _ in range(999):
    _ = next(tickets_gen)

In [7]:
tickets_gen = (ticket for ticket in car_tickets)
for _ in range(1000):
    _ = next(tickets_gen)

Reading in the `csv` as a pandas dataframe to verify the number of violations by car make

In [8]:
import pandas as pd
data_csv = pd.read_csv('nyc_parking_tickets_extract-1.csv')
data_csv.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Description
0,4006478550,VAD7274,VA,PAS,10/5/2016,5,4D,BMW,BUS LANE VIOLATION
1,4006462396,22834JK,NY,COM,9/30/2016,5,VAN,CHEVR,BUS LANE VIOLATION
2,4007117810,21791MG,NY,COM,4/10/2017,5,VAN,DODGE,BUS LANE VIOLATION
3,4006265037,FZX9232,NY,PAS,8/23/2016,5,SUBN,FORD,BUS LANE VIOLATION
4,4006535600,N203399C,NY,OMT,10/19/2016,5,SUBN,FORD,BUS LANE VIOLATION

In [11]:
violations_by_make = data_csv.groupby('Vehicle Make').size().sort_values(0, ascending=False).reset_index(name='violation_count')
violations_by_make.head(10)

  Vehicle Make  violation_count
0        TOYOT              112
1        HONDA              106
2         FORD              104
3        CHEVR               76
4        NISSA               70
5        DODGE               45
6        FRUEH               44
7        ME/BE               38
8          GMC               35
9        HYUND               35

In [10]:
car_tickets.count_violations().most_common(10)

[('TOYOT', 112),
 ('HONDA', 106),
 ('FORD', 104),
 ('CHEVR', 76),
 ('NISSA', 70),
 ('DODGE', 45),
 ('FRUEH', 44),
 ('ME/BE', 38),
 ('GMC', 35),
 ('HYUND', 35)]